.article-Drawer{
    .article-box{
        text-align: initial;
        border: 1px solid #ddd;
    }
    
}
.article-list-c{
    .title-ccc{
        max-width: 200px;
        overflow:hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    table{
        text-align: center;
        thead th{
            text-align: center;
        }
    }
}