.article-detail-wrapper{
    .toutu{
        width: 700px;
        height: auto;
    }
    .tit{
        font-size: 30px;
        padding: 10px;
        padding-top: 30px;
    }
    .fa{
        font-size: 15px;
        color: #666;
    }
    .markdown {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-top: 48px;
        }
      }
}

