.about-us-wrapper{
    .inn{
        padding: 20px 0;
    }

    section{
        padding: 10px 0;
        .p-1{
            font-size: 14px;
            color:rgba(102,102,102,1);
            line-height:24px;
            text-indent: 2em;
            // padding: 5px 0;
          }
          h2{
              font-size: 16px;
              padding-bottom: 6px;
          }
    }
   
     
}